h1 Hello Hal!
p Today is #{date}.

form(method ='POST' action='/send-message')
	div.form-group
		label(for='message') Message:
		input#msg.form-control(type='text', placeholder='Message here' name='msg')
	button.btn.btn-primary(type='submit') 
